/*=======Сброс css=============*/
/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain)*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, img {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
a {
  text-decoration: none;
}

/*====================Main styles===========================*/
@font-face {
  font-family: 'HelveticaNeue';
  src: url('fonts/HelveticaNeue.woff2'),
       url('fonts/HelveticaNeue.woff'),
       url('fonts/HelveticaNeue.ttf');
}
body {
  font-family: 'HelveticaNeue', sans-serif;
  max-width: 1440px;
}

/*====================Header================================*/
header {
  width: 100%;
  min-height: 60px;
  background-color: #373A3C;
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
}
header img {
  width: 96px;
  height: 29px;
  margin-top: 15px;
}
.nav_container {
  display: flex;
}
.nav_menu {
  margin-top: 20px;
  display: flex;
}
.nav_menu li {
  color: rgba(255, 255, 255, 0.5);
  margin-right: 45px;
}
.nav_menu li:hover {
  color: #fff;
}
.dropdown_menu {
  display: none;
}
.dropdown_title::after {
  content: url('img/logo and icons/down_arrow.png');
  padding-left: 8px;
}
.search_form input {
  width: 210px;
  height: 38px;
  border-radius: 4px;
  border: 1px solid #CCCCCC;
  background-color: #ffffff;
  padding-left: 16px;
  vertical-align: middle;
  margin-top: 11px;
  margin-right: 30px;
}
#profile::before {
  content: url('img/logo and icons/user_logo.png');
  padding-right: 5px;
}
